:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --btn-background: var(--very-dark-cyan);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-cyan: hsl(184, 72%, 79%);
    --btn-hover: var(--light-cyan);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
}

img{
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
}

#logo{
    position: relative;
    right: 60px
}

body{
    background-color: var(--light-grayish-cyan);
    color: var(--grayish-cyan);
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
}

.container{
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.left{
    width: 400px;
}

.right{
    width: 400px;
    background-color: var(--very-dark-cyan);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.item{
    padding: 20px;
}

#billselect{
    padding-bottom: 0px;
}

#dollar-icon{
    position: relative;
    right: 220px;
    bottom: 18px;
    margin-bottom: -48px;
}

input{
    width: 90%;
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border-radius: 5px;
    border: 0px;
    height: 30px;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

input:focus{
    outline: transparent;
    box-shadow: 0 0 3px var(--strong-cyan);
}

::placeholder{
    color: inherit;
}

#tipselect{
    margin-top: 10px;
}

.tipbtn{
    height: 45px;
    width: 100px;
    margin: 5px;
    background-color: var(--btn-background);
    color: white;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}

.tipbtn:hover{
    background-color: var(--btn-hover);
    color: var(--very-dark-cyan);
}

#custom{
    background-color: var(--very-light-grayish-cyan);
    color: var(--dark-grayish-cyan);
}

#custom:hover{
    background-color: var(--light-grayish-cyan);
    color: var(--very-dark-cyan);
}

#custom-number{
    visibility: hidden;
    position: relative;
    top: 1px;
    left: 136px;
    margin-left: -250px;
    height: 39px;
    width: 94px;
    box-shadow: 0 0 3px var(--strong-cyan);
}

#people-label{
    display: block;
}

#people{
    position: relative;
    bottom: 20px;
}

#person-icon{
    position: relative;
    right: 170px;
    bottom: 38px;
    margin-bottom: -48px;
}

.number{
    color: var(--strong-cyan);
    font-size: 40px;
    text-align: right;
    position: relative;
    bottom: 30px;
    margin-bottom: -40px;
    padding: 0;
}

.person{
    color: var(--grayish-cyan);
    position: relative;
    bottom: 25px;
}

.right .item{
    width: 100%;
    height: fit-content;
    position: relative;
}

#reset{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    height: 45px;
    width: 350px;
    position: relative;
    left: 5px;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#reset:hover{
    background-color: var(--btn-hover);
}

.attribution {
    font-size: 11px; text-align: center; 
    position: relative;
    top: 30px;
}
    
.attribution a{
    color: blue;
}